.dropdown-menu {
    padding: 5px 0; 
    background-color: #fff; 
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.4285;
    color: #333;
    white-space: nowrap;
}


@media screen and (min-width: 768px) {
            .dropdown-menu {
				position:relative;
                float: none;
                font-size: 20px;
                width: 70%;
                margin: 0 15%;
            }

			.cb-search-tool ul{
                 width: 70% ;
                 white-space:nowrap;
                 overflow:hidden;
                 text-overflow: ellipsis;
             }


            .cb-search-content {
                width: 70%;
                margin: 0 15%;
                position: absolute;
                top: 13%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }

        @media screen and (max-width: 767px) {
            .dropdown-menu {
				position:relative;
                float: none;
                font-size: 20px;
                width: 96%;
                margin: 0 2%;
            }
			.cb-search-tool ul{
				width: 96% ;
				white-space:nowrap; 
				overflow:hidden; 
				text-overflow: ellipsis;
			}

            .cb-search-content {
                width: 96%;
                margin: 0 2%;
                position: absolute;
                top: 10%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }
