---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }} - 字数统计：{{ page.content | strip_html | strip_newlines | remove: " " | size }} - 阅读大约需要{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }}分钟
{% if site.leancloud.enable %} <!--[if !IE]> --><span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}"> <span class="post-meta-divider"> - </span> <span class="post-meta-item-text"> Hits: </span> <span class="leancloud-visitors-count"></span> </span> <!-- <![endif]--> {% endif %}
</small>
<h1>{{ page.title }}</h1>

<p class="view">by <a href="//github.com/{{ page.author | default: "Mabbs" }}">{{ page.author | default: site.author }}</a></p>

<hr>

{% include toc.html html=content %}

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            上一篇：{{ page.previous.title }}
          </a>
      </span>
    {% endif %}
  <br />
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.baseurl }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}
  </div>

<!--[if !IE]> -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>
if (window.location.host != "mabbs.github.io")
{
var gitalk = new Gitalk({
  clientID: '098934a2556425f19d6e',
  clientSecret: '0bd44eed8425e5437ce43c4ba9b2791fbc04581d',
  repo: 'mabbs.github.io',
  owner: 'Mabbs',
  admin: ['Mabbs'],
  id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
}
else
{
var gitalk = new Gitalk({
  clientID: '36557aec4c3cb04f7ac6',
  clientSecret: 'ac32993299751cb5a9ba81cf2b171cca65879cdb',
  repo: 'mabbs.github.io',
  owner: 'Mabbs',
  admin: ['Mabbs'],
  id: '{{ page.id }}',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
}

gitalk.render('gitalk-container')
</script>
<!-- <![endif]-->
